<h1>Pages#barchart</h1>

<p id="barchart"></p>

<style>
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>

<div class="chart">
</div>
