<form action="/">
  <label for="stock_symbol">Enter a stock symbol</label>
  <input type="text" id="stock_symbol" name="stock_symbol" placeholder="e.g. GOOG">
  <button>Lookup</button>
</form>

<h2>The last price was: <strong>$<%= @last_trade %></strong></h2>