<form action="/">
  <label for="stock_symbol">Enter a stock symbol</label>
  <input type="text" id="stock_symbol" name="stock_symbol" placeholder="e.g. GOOG" autofocus>
  <button>Lookup</button>
</form>

<% if @last_trade %>
  <h2>The last price for <%= @symbol %> was: <strong>$<%= @last_trade %></strong></h2>
<% end %>
