html {
  background-color: linen;
}

.container {
  max-width: 960px;
  margin: auto;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
}

.thumb {
  max-width: 10em;
}

.main {
  max-width: 80%;
  margin: auto;
  display: block;
}

form label {
  min-width: 85px;
  text-align: right;
  display: inline-block;
}
