<h2>Other People's Secret Shames</h2>

<form action="">
  <textarea id="secret" cols="30" rows="10" placeholder="Tell everyone your secret shame"></textarea>
  <input type="submit" value="Share">
</form>

<ul id="shames"></ul>