<div class="notification">
  This is a notice.
</div>

<div class="error">
  This is an error.
</div>

<div class="success">
  This is success.
</div>


<div class="post">
  <h2 class="slug">Some Post Title</h2>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sunt minima neque eveniet. Temporibus illo velit maiores quidem itaque ab dolorem, quas, dicta excepturi ex accusantium aperiam minus atque saepe?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, voluptas quaerat nihil eveniet a, labore architecto tempora delectus veritatis, at doloremque. Provident neque mollitia assumenda quasi facilis autem, perspiciatis fugiat.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, fugiat aspernatur id nobis laborum quod, sed eligendi voluptates, voluptate doloremque voluptatum nemo exercitationem. Facere, eius, tempora! Corporis repellendus quidem, ullam!</p>
  </div>
</div>

<div class="post">
  <h2 class="slug">Some Post Title</h2>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sunt minima neque eveniet. Temporibus illo velit maiores quidem itaque ab dolorem, quas, dicta excepturi ex accusantium aperiam minus atque saepe?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, voluptas quaerat nihil eveniet a, labore architecto tempora delectus veritatis, at doloremque. Provident neque mollitia assumenda quasi facilis autem, perspiciatis fugiat.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, fugiat aspernatur id nobis laborum quod, sed eligendi voluptates, voluptate doloremque voluptatum nemo exercitationem. Facere, eius, tempora! Corporis repellendus quidem, ullam!</p>
  </div>
</div>

<div class="post">
  <h2 class="slug">Some Post Title</h2>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sunt minima neque eveniet. Temporibus illo velit maiores quidem itaque ab dolorem, quas, dicta excepturi ex accusantium aperiam minus atque saepe?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, voluptas quaerat nihil eveniet a, labore architecto tempora delectus veritatis, at doloremque. Provident neque mollitia assumenda quasi facilis autem, perspiciatis fugiat.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, fugiat aspernatur id nobis laborum quod, sed eligendi voluptates, voluptate doloremque voluptatum nemo exercitationem. Facere, eius, tempora! Corporis repellendus quidem, ullam!</p>
  </div>
</div>

