<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Calculator</title>
  <link rel="stylesheet" href="/css/calc.css">
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
