<h2>New Butterfly</h2>
<form action="/butterflies" method="post">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br>
  <label for="family">Family:</label>
  <input type="text" id="family" name="family"><br>
  <label for="image">Image:</label>
  <input type="url" id="image" name="image"><br>

  <button>Create butterfly</button>

</form>
