<h2>All Butterflies</h2>
<ul>
  <% @butterflies.each do |butterfly| %>
    <li>
      <a href="/butterflies/<%= butterfly['id'] %>">
        <img class="thumb" src="<%= butterfly['image'] %>">
        <%= butterfly['name'] %>
      </a>
    </li>
  <% end %>
</ul>