<h1>Welcome to Butterflies of the world</h1>

<p>This site lets you view a collection of my favourite butterflies.</p>
<p>Please visit the <a href="/butterflies">butterflies</a> index to start browsing.</p>