<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Butterflies of the world</title>
  <link rel="stylesheet" href="/css/butterflies.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/butterflies">All Butterflies</a>
    <a href="/butterflies/new">New Butterfly</a>
  </nav>

  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
