<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Butterflies of the world</title>
  <link rel="stylesheet" href="/css/butterflies.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/butterflies">All Butterflies</a>
      <a href="/butterflies/new">New Butterfly</a>
      |
      <a href="/plants">All Plants</a>
      <a href="/plants/new">New Plant</a>
    </nav>
  </div>

  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
