<h2>Name: <%= @plant.name %></h2>

<% if @plant.image %>
  <img class="main" src="<%= @plant.image %>">
<% end %>

<p>
  <a href="/plants/<%= @plant.id %>/edit">Edit</a>
  <a href="/plants/<%= @plant.id %>/delete">Delete</a>
</p>
