<h1>Underscore Intro</h1>

<div>
  <%= text_field_tag 'number', nil, :autofocus => true %>
  <%= button_tag 'add number', :id => 'add_number' %>
  <%= button_tag 'square', :id => 'square' %>
</div>

<div id="output"></div>