// Place all the styles related to the Sneakies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  text-align: center;
}

textarea, input {
  width: 80%;
  margin: auto;
  display: block;
}

input {
  padding: 1em;
  margin-top: 1em;
  -webkit-appearance: none;
}

html, body {
  background-color: purple;
  color: white;
}

ul#shames {
  width: 60%;
  margin: auto;
}