<% if @price %>
  <marquee>
    <% 20.times do %>
      Last trade for <%= @symbol %>: <b>$<%= @price %></b>
    <% end %>
  </marquee>
<% end %>

<form action="/quote">
  <label for="symbol">Stock Symbol:</label>
  <input type="text" id="symbol" name="symbol" placeholder="GOOG">
  <button>Look up</button>
</form>